<h2>About Me:</h2>
</br>
<p>Ahoy smallfry!</p>

<p>My name is Wesley Carr. I am a 20 year-old Delaware native spending the summer of 2013 at <a href="http://generalassemb.ly">General Assembly</a> in NYC. The reason being: Web Development. On this Octo-blog, I hope to display new techniques learned, struggles overcome and solutions found. Other than that, I will also post a fair amount of things I personally find exciting or entertaining... maybe even a personal post as well. Thanks for routing by!!</p>
